<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Gossip Project</title>
</head>
<body>
  <header>
    <nav><ul>
      <li><a href="/">Voir tous les gossips</a></li>
      <li><a href="/gossips/new/">Ajouter un Gossip</a></li>
    </ul></nav>
    <h1>The Gossip Project</h1>
  </header>
  <!-- MAIN -->
  <main>
    <hr>
    <section>
      <h2>Liste des Gossips</h2>
      <% gossips.each do |gossip| %>
        <p class="content"><%= gossip.content %></p>
        <p class="author"><%= gossip.author %></p>
      <% end %>
    </section>

    <hr>
  </main>
  <!-- fin MAIN -->
<footer>
<small><a href="https://www.linkedin.com/in/annie-herieau/" target="_blank">Annie Hérieau</a> - Powered with Sinatra - <a href="https://github.com/annieherieau/thp_sinatra_the_gossip_project" target="blank">GitHub repo</a></small>
</footer>

</body>
</html>