<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>The Gossip Project</title>
</head>
<body>
  <header>
    <nav><ul>
      <li><a href="/">Voir tous les gossips</a></li>
      <li><a href="/gossips/new/">Ajouter un Gossip</a></li>
    </ul></nav>
    <h1>The Gossip Project</h1>
  </header>
  <!-- MAIN -->
  <main>
    <hr>
    <section>
      <h2>Creer un nouveau gossip</h2>
      <p>Tu as un nouveau potin croustillant ? Écris le vite dans le formulaire ci-dessous :</p>
      <form action="/gossips/new" method = "POST">
        <div>
          <label for="gossip_author">*Saisis ton nom : </label> 
          <input required type="text" name ="gossip_author" id="gossip_author">
        </div>
        <div>
          <label for="gossip_content">*Balance ton potin : </label><br>
          <textarea required name="gossip_content" id="gossip_content" cols="80" rows="10"></textarea>
        </div>
        <div>
          <input type="submit">
          <a href="/"><input type="button" value="Annuler"></a>
        </div>
        <small>* champs oblogatoires</small>
      </form>
    
    </section>
    <hr>
  </main>
  <!-- fin MAIN -->
<footer>
<div><a href="https://www.linkedin.com/in/annie-herieau/" target="_blank">Annie Hérieau</a> - Powered with Sinatra - <a href="https://github.com/annieherieau/thp_sinatra_the_gossip_project" target="blank">GitHub repo</a></div>
</footer>

</body>
</html>
